{% block head %}
    <link rel="stylesheet" href="/assets/css/root.css">
    <link rel="stylesheet" href="/assets/css/author.css">

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0&appId=YOUR_APP_ID&autoLogAppEvents=1" nonce="cCJArXg2"></script>

{% endblock %}

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-860">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">About The Author</h2>
                <p>
                    <strong>Noah Schwab CFP®</strong> is a financial advisor in Spokane, Washington, specializing in helping Spokane small business owners.
                    <ul>
                        <li>
                            Synergizing business and personal finances
                        </li>
                        <li>
                            Setting up retirement plans
                
                        </li>
                        <li>
                            Investment management
                        </li>
                    </ul>
                    <strong>
                        More resources:
                    </strong>
                </p>
                <p>
                    <a href="/contact">Schedule a meeting</a>
                    </br>
                    <a href="https://www.investopedia.com/terms/1/401kplan.asp">Learn more about your 401(k)</a>
                    </p>
                    <strong>Share this post:</strong> 
                    <div class="fb-share-button" data-href="https://example.com/your-page-url" data-quote="{{title}}" data-layout="button"></div>
                
        </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/author-m.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/author.png">
                    <img loading="lazy" decoding="async" src="/assets/images/author.png" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <a href="/noah_schwab">
                    <span class="cs-name">Noah Schwab</span>
                    <span class="cs-job">Financial Advisor</span>
                </a>
                </div>
            </li>
        </ul>
    </div>
    
</section>
                                