---
title: 'Retire with a 401k'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: '401k/'
eleventyNavigation:
    key: 401k
    order: 6s00
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/401k.css">
{% endblock %}

{% block body %}          

{% include 'components/banner.html' %}
                    
<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->
                                
<section id="content-page-1535">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Flower-->
            <img class="cs-flower" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/flower-graphic.svg" alt="flower" loading="lazy" decoding="async" height="148" width="153">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/beach.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/beach.png">
                <img loading="lazy" decoding="async" src="/assets/images/beach.png" alt="kid" width="522" height="540">
            </picture>
            <!--Floating Blob-->
            <img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-events-left.svg" alt="graphic" loading="lazy" decoding="async" height="710" width="690">
        </div>
        <div class="cs-content">
            <h1 class="cs-title">Couples with a <span class="cs-color">401k</span>, five years from retirement.</h1>
            <p>
                You've been a good steward of what God has entrusted to you. You've saved over the years into your employer's retirement plan and now wonder if it's enough to last through retirement. 
            </p>
            <h2>Question #1 - Do I have enough saved?</h2>
            <p>We analyze what you need at retirement to answer this question. To find the answer, we look at your spending, inflating it, and calculate the future sources of income like Social Security, pension, and rental property. We aim for a 3% distribution rate from your 401k, so your budget will always keep up with inflation and last throughout retirement. 
            </p>
            <h2>Question #2 - What are my options with my 401k?</h2>
            <p>When you retire, you have several options for your 401(k) savings, including leaving the money in the plan, transferring it to an IRA, withdrawing a lump sum, or taking required minimum distributions at age 73. To learn more about your options, read this <a href="https://scfinancials.com/blog/f/i-retired---what-are-my-options-with-my-401k">article.</a>
            </p>        
            <h2>How We Help</h2>
            <p>We help make a financial plan that gives you retirement confidence. Our expertise synergizes your retirement goals and your 401k:
            </p>
            <ul>
                <li>Retirement savings calculation</li>
                <li>Avoiding Washington State's estate tax</li>
                <li>Monte-Carlo Analysis</li>
                <li>Qualified charitable distributions</li>
                <li>RMD tax strategy</li>
                <li>Roth conversion analysis</li>
                <li>Healthcare expenses</li>
                <li>Healthcare expenses</li>
                <li>Long-term health care event</li>
                <li>Medicare, wills, POAs</li>
            </ul>
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>

{% include 'components/cta.html' %}
                                                                
{% endblock %}