---
title: 'Amy'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'amy/'

---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/teampagetemplate.css">
{% endblock %}

{% block body %}

{% include 'components/banner.html' %}
                                
<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-1398">
    <div class="cs-container">
        <div class="cs-image-group">
            <div class="cs-flex">
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/amy_headshot.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/amy_headshot.png">
                    <img loading="lazy" decoding="async" src="/assets/images/amy_headshot.png" alt="people" width="542" height="728">
                </picture>
                <div class="cs-box">
                    <img class="cs-box-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/gear-white.svg" alt="people" width="60" height="60">
                    <span class="cs-desc">
                        Specializes in Christian couples with a 401k, five years from retirement & female business owners
                    </span>
                </div>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trophy.svg" alt="icon" width="32" height="32">
                        Quality Services
                    </h3>
                    <p class="cs-item-text">
                        There are many variations of but the majority is simply free suffered.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg" alt="icon" width="32" height="32">
                        Years of Experience
                    </h3>
                    <p class="cs-item-text">
                        There are many variations of but the majority is simply free suffered.
                    </p>
                </li>
            </ul>
        </div>
        <div class="cs-content">
            <h1 class="cs-title">Your Spokane Financial Advisor <span class="cs-color">Amy</span></h1>
            <h2>Things to Know</h2>
            <p>
                Owner of Stewardship Concepts Financial Services.            
            </p>
            <p>
                As a fee-only and fiduciary financial advisor, Amy is never paid a commission of any kind and has a legal obligation to provide unbiased financial advice.
            </p>
            <p>
                Provides investment management and financial planning.            
            </p>
            <h2>About Amy</h2>
            <p>Amy was born and raised in Spokane. She attended Whitworth University, where she obtained her degree in Mathematical Economics. After college, Amy started her career at Numerica Credit Union, where she worked in the investment department for five years.  
            </p>
            <p>
                She joined Stewardship Concepts in 2020 and is passionate about helping clients be good stewards of their money. Amy loves to stay active with her husband and two daughters. She enjoys reading, cooking, and cross-country skiing in her free time. Amy is a CFP and serves as treasurer for the Spokane Financial Planning Association. 
            </p>
            <h2>Fun Facts About Amy:</h2>
            <ol>
                <li>Amy loves spending the summertime at Spokane lakes with her daughters and husband</li>
                <li>Amy Enjoys reading, cooking, and running</li>
                <li>Amy actively attends Northview Church</li>
            </ol>
            <h2>Amy Can Help With:</h2>
            <ul>
                <li>
                    Risk management
                </li>
                <li>
                    Investment and retirement planning
                </li>
                <li>
                    401k rollovers
                </li>
                <li>
                    Estate and tax planning
                </li>
                <li>
                    Social Security optimization
                </li>
                <li>
                    RMD strategies
                </li>
                <li>
                    Business retirement plans
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
                                

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1152">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Our Photo Gallery</h2>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/amy1-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/amy1.png">
                <img loading="lazy" decoding="async" src="/assets/images/amy1.png" alt="gallery" width="272" height="320">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/amy2-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/amy2.png">
                <img loading="lazy" decoding="async" src="/assets/images/amy2.png" alt="gallery" width="272" height="320">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/amy3-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/amy3.png">
                <img loading="lazy" decoding="async" src="/assets/images/amy3.png" alt="gallery" width="272" height="320">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/amy4-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/amy4.png">
                <img loading="lazy" decoding="async" src="/assets/images/amy4.png" alt="gallery" width="272" height="320">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/amy5-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/amy5.png">
                <img loading="lazy" decoding="async" src="/assets/images/amy5.png" alt="gallery" width="272" height="320">
            </picture>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-608">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Amy Designations and Affiliations</h2>
            <p class="cs-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Amy is the treasurer of the Spokane Financial Planning Association.
                </h3>
                <p class="cs-item-text">
                </p>
                <span class="cs-name">Daniel</span>
            </li>

        </ul>
    </div>
</section>


                                
                                
{% endblock %}