---
title: 'Business Owners'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'business_owners/'
eleventyNavigation:
    key: Business_owners
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/business_owners.css">
{% endblock %}

{% block body %}                                

{% include 'components/banner.html' %}
                                
<!-- ============================================ -->
<!--                   Video                      -->
<!-- ============================================ -->

<section id="video-1682">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our services</span>
            <h2 class="cs-title">Grow Your Business with Our New Bold Agency</h2>
        </div>
        <a href="" class="cs-big-link">
            <!--Background Image-->
            <picture class="cs-background">
                <source media="(min-width: 1024px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-video.png">
                <source media="(min-width: 601px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-video.png">
                <source media="(max-width: 600px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-video.png">
                <img aria-hidden="true" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-video.png"
                        alt="meeting" width="1280" height="580">
            </picture>
            <!--Play Icon-->
            <img class="cs-link-icon" aria-hidden="true" loading="lazy" decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-play-icon.svg"
                    alt="play icon" width="110" height="110" aria-hidden="true">
        </a>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">Process Safety & Risk Management</h3>
                <p class="cs-item-text">
                    We provide some of the finest quality, most reliable, and cost effective services and solutions.
                </p>
                <a href="" class="cs-link">
                    <span class="cs-link-text">Get Started</span>
                    <img class="cs-arrow" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-arrow-right.svg"
                            alt="icon" width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Occupational Safety & Health</h3>
                <p class="cs-item-text">
                    We provide some of the finest quality, most reliable, and cost effective services and solutions.
                </p>
                <a href="" class="cs-link">
                    <span class="cs-link-text">Get Started</span>
                    <img class="cs-arrow" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-arrow-right.svg"
                            alt="icon" width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Security Assessment and Planning</h3>
                <p class="cs-item-text">
                    We provide some of the finest quality, most reliable, and cost effective services and solutions.
                </p>
                <a href="" class="cs-link">
                    <span class="cs-link-text">Get Started</span>
                    <img class="cs-arrow" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-arrow-right.svg"
                            alt="icon" width="20" height="20" aria-hidden="true" />
                </a>
            </li>
        </ul>
    </div>
</section>
                  
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RTsbs-1311">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-desc">Accounting &  support of your business</span>
            </div>
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Utilize A Retirement Plan</h2>
            <p class="cs-text">
                Most business owners who aren't using a retirement plan miss out on a huge opportunity to save money.
            </p>
            <p class="cs-text">
                From sole owners to 50 employees, we find out if a retirement plan would add value. Implementing setup, investing, and ongoing education.
            </p>
            <p class="cs-text">
                Having a retirement plan gives your financial advisor, CPA, and attorney a powerful tax, retirement, and succession planning tool.
            </p>

            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
            <ul class="cs-ul">
                <li class="cs-item">
                    <span class="cs-number">150 +</span>
                    <h3 class="cs-h3">Staff on three continents</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">700 +</span>
                    <h3 class="cs-h3">Consulting engagements</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">180 +</span>
                    <h3 class="cs-h3">Learning community members</h3>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="RTsbsr-1311">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-desc">Accounting &  support of your business</span>
            </div>
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Prepare Your Business</h2>
            <p class="cs-text">
                Identify your goal and vision for the future of your business.            
            </p>
            <p class="cs-text">
                Identify where your business is currently at unsellable, family transition, employee buy-out, or arm's length sale.
            </p>
            <p class="cs-text">
                Prepare leadership and create a strategy for your business so that when the planned or unplanned transition occurs, you are in an optimal and tax-efficient position.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--              Side By Side Triplet            -->
<!-- ============================================ -->

<section id="RTsbst-1311">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-desc">Accounting &  support of your business</span>
            </div>
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Maximize Your Cash Flow</h2>
            <p class="cs-text">
                Once your business is profitable, it's important to prioritize your cash flow in a way that fulfills your personal and business goals.
            </p>
            <p class="cs-text">
                Identify your four funding buckets: living expenses, emergency funds, business growth, and retirement.
            </p>
            <p class="cs-text">
                Balancing these four buckets is key to reaching your business and personal goals.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
            <ul class="cs-ul">
                <li class="cs-item">
                    <span class="cs-number">150 +</span>
                    <h3 class="cs-h3">Staff on three continents</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">700 +</span>
                    <h3 class="cs-h3">Consulting engagements</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">180 +</span>
                    <h3 class="cs-h3">Learning community members</h3>
                </li>
            </ul>
        </div>
    </div>
</section>
                     
{% include 'components/cta.html' %}

{% endblock %}