---
title: 'Edwin'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'edwin/'

---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/teampagetemplate.css">
{% endblock %}

{% block body %}

{% include 'components/banner.html' %}
                                
<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-1398">
    <div class="cs-container">
        <div class="cs-image-group">
            <div class="cs-flex">
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/edwin_headshot.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/edwin_headshot.png">
                    <img loading="lazy" decoding="async" src="/assets/images/edwin_headshot.png" alt="people" width="542" height="728">
                </picture>
                <div class="cs-box">
                    <img class="cs-box-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/gear-white.svg" alt="people" width="60" height="60">
                    <span class="cs-desc">
                        Christian couples with a 401k, five years from retirement.                                   
                             </span>
                </div>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trophy.svg" alt="icon" width="32" height="32">
                        Quality Services
                    </h3>
                    <p class="cs-item-text">
                        There are many variations of but the majority is simply free suffered.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg" alt="icon" width="32" height="32">
                        Quality Services
                    </h3>
                    <p class="cs-item-text">
                        There are many variations of but the majority is simply free suffered.
                    </p>
                </li>
            </ul>
        </div>
        <div class="cs-content">
            <h1 class="cs-title">Your Spokane Financial Advisor <span class="cs-color">Edwin Hill</span></h1>
            <h2>Things to Know</h2>
            <p>
                Founder of Stewardship Concepts Financial Services.
            </p>
            <p>
                As a fee-only and fiduciary financial advisor, Edwin Hill has never paid a commission of any kind and has a legal obligation to provide unbiased financial advice.
            </p>
            <p>
                Provides investment management and financial planning.            
            </p>
            <h2>About Edwin</h2>
            <p>
                Over 30 years of experience in financial services. Edwin uses faith-based financial planning to help people achieve their goals. Served on several boards: Camp Spalding, Union Gospel Mission, and Spokane FPA. Edwin loves hiking and backpacking around Spokane with his wife, Kerry. He finds refreshment in a good book, bike rides, and spending time with family and friends.            
            </p>
            <h2>Fun Facts About Edwin Hill:</h2>
            <ol>
                <li>Edwin finds refreshment in a good book, bike rides, and spending time with family</li>
                <li>Edwin loves backpacking with his wife Kerry</li>
                <li>Edwin actively attends True Hope Church</li>
            </ol>
            <h2>Edwin Can Help With:</h2>
            <ul>
                <li>
                    Risk management
                </li>
                <li>
                    Investment and retirement planning

                </li>
                <li>
                    Estate and tax planning

                </li>
                <li>
                    Charitable Trusts
                </li>
                <li>
                    Wholistic retirement planning
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
                                

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1152">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Photo Gallery</h2>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/edwin1-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/edwin1.png">
                <img loading="lazy" decoding="async" src="/assets/images/edwin1.png" alt="gallery" width="272" height="320">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/edwin2-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/edwin2.png">
                <img loading="lazy" decoding="async" src="/assets/images/edwin2.png" alt="gallery" width="272" height="320">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-857">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Coverage</span>
            <h2 class="cs-title">Edwin Hill's Designations and Affiliations
            </h2>
        </div>
        <div class="cs-logo-group">
            <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo5.png" alt="logo" width="150" height="65" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo6.png" alt="logo" width="150" height="55" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo7.png" alt="logo" width="150" height="53" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo8.png" alt="logo" width="150" height="61" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo5.png" alt="logo" width="150" height="65" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo6.png" alt="logo" width="150" height="55" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo7.png" alt="logo" width="150" height="53" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo8.png" alt="logo" width="150" height="61" loading="lazy" decoding="async">
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-608">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Edwin Hill's Designations and Affiliations</h2>
            <p class="cs-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Edwin Hill is on the board of the Spokane Financial Planning Association.

                </h3>
                <p class="cs-item-text">
                </p>
                <span class="cs-name">Daniel</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Edwin Hill is on the board of Big Table. A nonprofit serving hope to those in the service industry.
                </h3>
                <p class="cs-item-text">
                </p>
                <span class="cs-name">Daniel</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Spalding UGM

                </h3>
                <p class="cs-item-text">
                    What's a product or service you'd like to show.
                </p>
                <span class="cs-name">Daniel</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3"> UGM

                </h3>
                <p class="cs-item-text">
                    What's a product or service you'd like to show.
                </p>
                <span class="cs-name">Daniel</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Great Northern University

                </h3>
                <p class="cs-item-text">
                    Give customers a reason to do business with you.
                </p>
                <span class="cs-name">Daniel</span>
            </li>

        </ul>
    </div>
</section>


                                
                                
{% endblock %}