---
title: 'Faq'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'faq/'
eleventyNavigation:
    key: Faq
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/faq.css">
{% endblock %}

{% block body %}

{% include 'components/banner.html' %}
                                
<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-489">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">FAQ</span>
            <h2 class="cs-title">Our <span class="cs-color">Most Common</span> Questions</h2>
            <p class="cs-text">
                Please email us at Kate@scfinancials.com or call us at (509) 443-0845 if you have a question that's not on this page.

            </p>
            <a href="" class="cs-button-solid">Schedule a Meeting</a>
        </div>
        <ul class="cs-faq-group">
            <!-- Active class added as default -->
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Why should I work with you?
                    </span>
                </button>
                <p class="cs-item-p">
                    First, let’s have an <a href="">introductory call</a> to see if we would be a good fit.
                </p>
                <p class="cs-item-p">
                    You can see our professional credentials and experience, but our true value comes from how we serve our clients. We care and listen. It's incredible what clients have accomplished working with us and experiencing the feeling of real financial planning. We love what we do because we become a part of our client’s lives, discuss topics they don’t discuss with anybody else, and help them discover the right decisions.

                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Do you only work with Christian couples with a 401k, five years from retirement?
                    </span>
                </button>
                <p class="cs-item-p">
                    No, we have many clients with a wide variety of situations. We focus on reaching out to Christian couples with a 401k five years out to retirement because that's when we do some of our best work. Our expertise is comprehensive and applies to many other situations. 
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Who is not a good fit to work with you?
                    </span>
                </button>
                <p class="cs-item-p">
                    We are not the best fit for people who believe in trying to time the market or listen to advice. Research has shown it’s very challenging to consistently time markets. It's about time in the market, not timing the market.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What is your investment philosophy?
                    </span>
                </button>
                <p class="cs-item-p">
                    Generally, humans are not naturally wired to be good investors. For instance, naturally, people want to sell in down markets and buy in up markets. This is the opposite. We take the emotion out of investing and use current and historical data to manage portfolios. One of the biggest mistakes we see is when someone tries to time the market.                    
                </p>
                <p class="cs-item-p">
                    At Stewardship Concepts, our goal is to get you through retirement with the least amount of risk. We take the long-term investment perspective. This means we systematically rebalance portfolios and manage each client’s portfolio based on objectives and long-term goals. We favor dividend-paying, high-quality stocks and utilize low-cost, tax-efficient ETFs.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Where is my money held?
                    </span>
                </button>
                <p class="cs-item-p">
                    If you want ongoing investment management, we can help you open accounts at Charles Schwab, where your assets would be held. Once the accounts are open, we will have you sign a form that allows me to invest your accounts as we agree and debit my management fee. We don’t take custody of assets or ever take possession of your funds; you always have control of your accounts through your <a href="">Charles Schwab login</a>. 
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How are you paid?
                    </span>
                </button>
                <p class="cs-item-p">
                    We can get paid in two different ways. First, a cost for financial planning. Second, as a percentage of assets under management for portfolios that we manage on behalf of our clients.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Do I have to pay for the first meeting?
                    </span>
                </button>
                <p class="cs-item-p">
                    No, the first meeting is about you getting to know us and vice versa. We are discovering if we can help, and if you would enjoy working with us.
                </p>
                <p class="cs-item-p">
                    <a href="">Schedule Your free consultation today</a>
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Do I have to live in Spokane to work with you?
                    </span>
                </button>
                <p class="cs-item-p">
                    No, set up Stewardship Concepts to work with clients virtually across the United States. While based in Spokane, WA, we enjoy working with our clients across the United States through Zoom.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Do you have an asset minimum?
                    </span>
                </button>
                <p class="cs-item-p">
                    No, we do not.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What's the best way to determine if we should work together?
                    </span>
                </button>
                <p class="cs-item-p">
                    <a href="">Schedule a free call</a> with us. We can discuss why you reached out and learn about your situation to see if we would be a good fit. If we are not a good fit, we'll let you know.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How do I find your office?
                    </span>
                </button>
                <p class="cs-item-p">
                    7307 N Division St Suite 205, Spokane WA, 99208
                </p>
                <p class="cs-item-p">
                    We are at the US bank building north of the Golden Corral on Divison. You will find our office on the second floor, up the stairs or elevator, down the hallway to your right, and on the right-hand side.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What does CPF® stand for and why is it important?
                    </span>
                </button>
                <p class="cs-item-p">
                    CERTIFIED FINANCIAL PLANNER™ certification is the standard of excellence in financial planning. CFP® professionals meet rigorous education, training, and ethical standards and are committed to serving their clients' best interests today to prepare them for a more secure tomorrow.
                </p>
                <p class="cs-item-p">
                    To learn more about the <a href="">CFP®</a> certification, <a href="">visit here</a>.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Is Stewardship Concepts a fiduciary and what is that important?
                    </span>
                </button>
                <p class="cs-item-p">
                    Stewardship Concepts is a fee-only Registered Investment Advisor. We are only paid by what you pay us. We are a fee-only, fiduciary financial advisor. That means they are required to act in your best interests at all times when providing financial advice and financial planning.
                </p>
            </li>
        </ul>
    </div>
</section>
                                

{% include 'components/cta.html' %}
                                                  
{% endblock %}