---
title: 'Financial Planning'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'financial_planning/'
eleventyNavigation:
    key: Financial_planning
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/financial_planning.css">
{% endblock %}

{% block body %}                                
                 
{% include 'components/banner.html' %}
                                
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1431">
    <div class="cs-container">
        <div class="cs-image-group">
            <!-- Person Picture -->
            <!-- To make your own crops of people, use this tool to remove the backgorund of images https://www.remove.bg/ -->
            <picture class="cs-puzzle">
                <source media="(max-width: 600px)" srcset="/assets/images/puzzle.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/puzzle.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/puzzle.jpg" alt="volunteer" width="702" height="617" aria-hidden="true">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Financial Planning</span>
            <h1 class="cs-title">DNA Process</h1>
            <p class="cs-text">
                Our team has developed and refined the DNA process to help people connect the financial puzzle pieces of their life:
            </p>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer1.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Develop a plan</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer2.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Navigate Life</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer3.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Achieve Goals</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                        </p>
                    </div>
                </li>
            </ul>     

            <h3 class="cs-h3">Common questions we address</h3>
            
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                    When can I retire?
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                    How much should I save each year?                
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                    How should I budget?
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                    How can I leave a legacy?
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                    What account I should contribute to?
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                    Do I need life insurance?
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                    How do I maximize social security?
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                    How can I pay less taxes?
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                    How do I help my children with education?
                </li>
            </ul> 
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Why Choose                  -->
<!-- ============================================ -->

<section id="why-choose-1571">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">We are an unbiased third party. No commissions. No products.</span>
            <h2 class="cs-title">What is Financial Planning?</h2>
            <p>Financial planning is a 6-step process where our financial advisor looks at what you have, identifies goals, and gives actionable steps to achieve them. While identifying any missing financial pieces in your current plan. This is a snapshot. Regularly updating the plan to account for changes is important.</p>
        </div>
        <div class="cs-card-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-truck-icon.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Discover</h3>
                        <p class="cs-item-text">
                            Initial meeting with no charge and no commitment. We determine if we can assist you.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-headphone-icon.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Establish</h3>
                        <p class="cs-item-text">
                            Determining and establishing realistic financial goals such as retirment date, education targets for children, home purchase, etc.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-money-icon.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Gather</h3>
                        <p class="cs-item-text">
                            As accurate information is key to an accurate plan, gathering all necessary documents and data, such as expenses, pay stubs, assets, liabilities, etc.
                        </p>
                    </div>
                </li>
            </ul>
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-watches.png">
                <source media="(min-width: 601px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-watches.png">
                <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-watches.png" alt="watches"
                        width="510" height="193" aria-hidden="true">
            </picture>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-label-icon.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Develop</h3>
                        <p class="cs-item-text">
                            Creating a financial roadmanp, including key reccomendation and action steps on topics including cash flow management, tax planning, retirement planning, risk management, and estate planning.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-shield-icon.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </picture>
                    
                    <div class="cs-flex">
                        <h3 class="cs-h3">Implement</h3>
                        <p class="cs-item-text">
                            Implementing all mutually agreed upoin reccomendations and action steps to achieve financial goals
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-bag-icon.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Monitor</h3>
                        <p class="cs-item-text">
                            Life is unpredictable. We will update the plan to take into account any modification in assumptions or material life changes.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-why-choose-background.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-why-choose-background.png">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-why-choose-background.png" alt="texture" width="1280" height="568">
    </picture>
</section>
                                                  
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1309">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-desc">Let's Navigate Together
                </span>
            </div>
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Where Are You In Your Financial Jouney?</h2>
            <p class="cs-text">
                In the new era of technology we look in the future with certainty and pride for our company and business. consider all the drivers of change gives you the blocks & pride for our components you need to change to create a truly professional website In the new era.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
            <ul class="cs-ul">
                <li class="cs-item">
                    <span class="cs-number">150 +</span>
                    <h3 class="cs-h3">Staff on three continents</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">700 +</span>
                    <h3 class="cs-h3">Consulting engagements</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">180 +</span>
                    <h3 class="cs-h3">Learning community members</h3>
                </li>
            </ul>
        </div>
    </div>
</section>
                                                                
{% endblock %}