---
title: 'Investment Management'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'investment_management/'
eleventyNavigation:
    key: Investment_management
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/investment_management.css">
{% endblock %}

{% block body %}                                
                  
{% include 'components/banner.html' %}
                                
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-1310">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/life-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/life.png">
                <img loading="lazy" decoding="async" src="/assets/images/life.png" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Investment Management</span>
            <h2 class="cs-title">Enjoy Life</h2>
            <p class="cs-text">
                Investment management is not merely about maximizing returns; it's about achieving financial goals while maintaining peace of mind. Humans often struggle with the emotional aspect of investing, such as the impulse to sell during market downturns or buy when markets are soaring. However, successful investment management involves removing emotion from the equation and relying on data-driven strategies tailored to your retirement objectives.
            </p>
            <p class="cs-text">
                By aligning your investment decisions with your long-term financial goals and leveraging data-driven insights, you can navigate market fluctuations with confidence. Whether it's building a diversified portfolio, employing risk management techniques, or staying informed about market trends, effective investment management allows you to enjoy life without constantly worrying about your financial future.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="https://calendly.com/kate-scfs/discovery-meeting?hide_gdpr_banner=1&primary_color=2b5268" target="_blank">Learn More</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="RPsbsr-1310">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">

            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/investment-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/investment.png">
                <img loading="lazy" decoding="async" src="/assets/images/investment.png" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Reduce Risk & Add Value</span>
            <h2 class="cs-title">Values</h2>
            <p class="cs-text">
                Align your investments with values and beliefs. We look for quality companies that will give our return and have responsible business practices. We believe in investing based on investment allocation, based on risk, and goals.
            </p>

            <a class="cs-button-solid" aria-label="learn more about our programs" href="https://calendly.com/kate-scfs/discovery-meeting?hide_gdpr_banner=1&primary_color=2b5268" target="_blank">Schedule a Meeting</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-1310">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">

            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/quality-m.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/quality.png">
                <img loading="lazy" decoding="async" src="/assets/images/quality.png" alt="meeting" width="630" height="414">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Investment Management</span>
            <h2 class="cs-title">Quality</h2>
            <p class="cs-text">
                We believe in quality and diversification. Using Modern Portfolio Theory, we manage portfolios targeting low-cost and tax-efficient investment vehicles. We systematically rebalance to reduce risk and tax loss harvest.
            </p>
                <a class="cs-button-solid" aria-label="learn more about our programs" href="https://calendly.com/kate-scfs/discovery-meeting?hide_gdpr_banner=1&primary_color=2b5268" target="_blank">Learn More</a>

        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1657">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Investment Management Cost</span>
                <h2 class="cs-title">Investment Management Cost</h2>
            </div>
            <ul class="cs-ul">
                <li class="cs-li">
                    <span class="cs-number">01</span>
                    <p class="cs-li-text">
                        If you had a 1 million dollar investment with us, the first $250,000 is 0.95%, the next $250,000 is 0.8%, and the remaining $500,000 is 0.65%.                    </p>
                </li>
                <li class="cs-li">
                    <span class="cs-number">02</span>
                    <p class="cs-li-text">
                        Aqestic recusandae laudantium optio amet a quisquam saepe aliquid, voluptate praesentium dicta fuga dolor error perspiciatis voluptatem eum cupiditate totam reiciendis quam minus.
                    </p>
                </li>
                <li class="cs-li">
                    <span class="cs-number">03</span>
                    <p class="cs-li-text">
                        Aqestic recusandae laudantium optio amet a quisquam saepe aliquid, voluptate praesentium dicta fuga dolor error perspiciatis voluptatem eum cupiditate totam reiciendis quam minus.
                    </p>
                </li>
            </ul>
        </div>  
        <div class="cs-wrapper">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/cost-m.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/cost-m.png">
                <img loading="lazy" decoding="async" src="/assets/images/cost-m.png" alt="meeting" width="630" height="414">
            </picture>

            <p class="cs-review">
                <svg class="cs-quote" preserveAspectRatio="none" viewBox="0 0 100 93" fill="none" xmlns="http://www.w3.org/2000/svg" preser><g opacity=".4" clip-path="url(#a)" fill="var(--quoteColor)"><path d="M22.94 84H0L18.305.854H55L22.94 84ZM67.94 84H45L63.305.854H100L67.94 84Z"/></g><defs><clipPath id="a-1657"><path fill="#fff" transform="translate(0 .854)" d="M0 0h100v83.146H0z"/></clipPath></defs></svg>
                I have confidently put my trust in Stewardship Concepts to not only manage my personal investments but those of our organization's employees in multiple states. The team at Stewardships Concepts are wise, accurate, intentional and operate out of a sense of gratitude and grace. Highly recommend!            
            </br>
        </br>
            -Jill Lemon
            </p>
        </div>
    </div>
</section>
                                
{% include 'components/cta.html' %}                                                   
                                                                
{% endblock %}