---
title: 'Kate Altine'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'kate_altine/'

---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/teampagetemplate.css">
{% endblock %}

{% block body %}

{% include 'components/banner.html' %}
                                
<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-1398">
    <div class="cs-container">
        <div class="cs-image-group">
            <div class="cs-flex">
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/kate_altine.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/kate_altine.png">
                    <img loading="lazy" decoding="async" src="/assets/images/kate_altine.png" alt="people" width="542" height="728">
                </picture>
                <div class="cs-box">
                    <img class="cs-box-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/gear-white.svg" alt="people" width="60" height="60">
                    <span class="cs-desc">
                        Specializes in Office Management
                    </span>
                </div>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trophy.svg" alt="icon" width="32" height="32">
                        Quality Services
                    </h3>
                    <p class="cs-item-text">
                        There are many variations of but the majority is simply free suffered.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg" alt="icon" width="32" height="32">
                        Quality Services
                    </h3>
                    <p class="cs-item-text">
                        There are many variations of but the majority is simply free suffered.
                    </p>
                </li>
            </ul>
        </div>
        <div class="cs-content">
            <h1 class="cs-title">Get To Know Stewardship Concepts Office Representative <span class="cs-color">Kate Altine</span></h1>
            <h2>Things to Know</h2>
            <p>
                Kate is the main contact for moving money, scheduling, and transferring accounts like 401k.
            </p>
            <h2>About Kate</h2>
            <p>Helps the office stay organized and efficient for our team. Holds an Associate in Arts degree from Miami Dade College. Loves to "keep things in their right place". Enjoys hiking in Spokane with her family. Finds enjoyment through baking, gardening, and solving puzzles.

            </p>
            <h2>Fun Facts About Kate Altine:</h2>
            <ol>
                <li>fact 1</li>
                <li>fact 2</li>
                <li>fact 3</li>
            </ol>
            <h2>Kate Can Help With:</h2>
            <ul>
                <li>Scheduling</li>
                <li>Transferring 401k Rollovers</li>
                <li>Portfolio contributions and distributions</li>
                <li>Millions of other questions</li>
            </ul>
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
                                

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1152">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Photo Gallery</h2>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/kate1-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/kate1.png">
                <img loading="lazy" decoding="async" src="/assets/images/kate1.png" alt="gallery" width="272" height="320">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/kate2-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/kate2.png">
                <img loading="lazy" decoding="async" src="/assets/images/kate2.png" alt="gallery" width="272" height="320">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/kate13-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/kate3.png">
                <img loading="lazy" decoding="async" src="/assets/images/kate3.png" alt="gallery" width="272" height="320">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/kate4-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/kate4.png">
                <img loading="lazy" decoding="async" src="/assets/images/kate4.png" alt="gallery" width="272" height="320">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/kate5-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/kate5.png">
                <img loading="lazy" decoding="async" src="/assets/images/kate5.png" alt="gallery" width="272" height="320">
            </picture>
        </div>
    </div>
</section>                                
                                
{% endblock %}