---
title: 'Noah'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'noah/'

---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/teampagetemplate.css">
{% endblock %}

{% block body %}

{% include 'components/banner.html' %}
                                
<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-1398">
    <div class="cs-container">
        <div class="cs-image-group">
            <div class="cs-flex">
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/noah_schwab.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/noah_schwab.png">
                    <img loading="lazy" decoding="async" src="/assets/images/noah_schwab.png" alt="people" width="542" height="728">
                </picture>
                <div class="cs-box">
                    <img class="cs-box-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/gear-white.svg" alt="people" width="60" height="60">
                    <span class="cs-desc">
                        Specializes in Christian couples with a 401k, five years from retirement
                    </span>
                </div>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trophy.svg" alt="icon" width="32" height="32">
                        Quality Services
                    </h3>
                    <p class="cs-item-text">
                        There are many variations of but the majority is simply free suffered.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg" alt="icon" width="32" height="32">
                        Years of Experience
                    </h3>
                    <p class="cs-item-text">
                        There are many variations of but the majority is simply free suffered.
                    </p>
                </li>
            </ul>
        </div>
        <div class="cs-content">
            <h1 class="cs-title">Your Spokane Financial Advisor <span class="cs-color">Noah</span></h1>
            <h2>Things to Know</h2>
            <p>
                Owner of Stewardship Concepts Financial Services.            
            </p>
            <p>
                As a fee-only and fiduciary financial advisor, Noah is never paid a commission of any kind and has a legal obligation to provide unbiased financial advice.
            </p>
            <p>
                Provides investment management and financial planning.            
            </p>
            <h2>About Noah</h2>
            <p>Noah grew up as a pastor's kid in Spokane. Attending Grand Canyon University, he got his degree in Finance and Economics. During the summers, he worked on Alaskan fishing boats to graduate debt-free. He met his wife Jenny at Taurenhof, a bible school in Austria. He loves the Pacific Northwest and recharges by playing pickleball, snowboarding, backpacking, and camping trips with his wife, Jenny. His two favorite trips were when he rode a motorbike the length of Vietnam and visited all of the Lord of the Rings movie locations in New Zealand. 
            </p>
            <p>He is a frequent featured expert on many popular financial news sources. He writes for the Spokane Journal of Business and is a featured expert on many websites such as Yahoo News, MarketWatch, U.S. News, Next Avenue, and GoBankingRates. Noah is passionate about financial literacy. He is writing a financial education book and has helped facilitate Financial Peace University at his church, <a href="https://www.truehopechurch.org/" target="_blank">True Hope</a>. He is a FPA, CFP, NAPFA, and Spokane Financial Advisors Network member.
            </p>
            <h2>Fun Facts About Noah:</h2>
            <ol>
            <li>One of Noah's favorite trips was riding a motorbike the length of Vietnam</li>
            <li>Noah loves camping with his wife Jenny</li>
            <li>Noah actively attends True Hope Church</li>
            </ol>
            <h2>Noah Can Help With:</h2>
            <ul>
                <li>Transitioning to retirement</li>
                <li>401k</li>
                <li>Retirement planning</li>
                <li>Retirement cash flow optimization</li>
                <li>Roth Conversions</li>
                <li>RMD strategies</li>
                <li>Estate planning</li>
                <li>Retirement tax planning</li>
                <li>Investment management</li>
                <li>Business planning</li>
            </ul>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-343">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Noah Schwab</span>
            <h2 class="cs-title">Designations and Affiliations</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="https://www.letsmakeaplan.org/find-a-cfp-professional/certified-professional-profile/cc04b3e6-71cf-4561-92ff-39ee3917d554" target="_blank" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/cfp-m.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/cfp.png">
                        <img loading="lazy" decoding="async" src="/assets/images/cfp.png" alt="cleaner" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">CFP ®</h3>
                    <p class="cs-item-text">
                        CERTIFIED FINANCIAL PLANNER™
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="https://www.plannersearch.org/financial-advisor/noah-schwab" target="_blank" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/fpa-m.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/fpa.png">
                        <img loading="lazy" decoding="async" src="/assets/images/fpa.png" alt="cleaner" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">FPA®</h3>
                    <p class="cs-item-text">
                        The Financial Planning Association® (FPA®)
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="https://www.napfa.org/member/112004/42014" target="_blank" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/napfa-m.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/napfa.png">
                        <img loading="lazy" decoding="async" src="/assets/images/napfa.png" alt="cleaner" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">NAPFA</h3>
                    <p class="cs-item-text">
                        The National Association of Personal Financial Advisors
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="https://www.feeonlynetwork.com/spokane-wa-financial-planner/" target="_blank" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/fee-only-m.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/fee-only.png">
                        <img loading="lazy" decoding="async" src="/assets/images/fee-only.png" alt="cleaner" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Fee-Only Network</h3>
                    <p class="cs-item-text">
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>
                            

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-1346">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Asked Questions</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <p class="cs-text">
                In the new era of technology we look in the future with certainty and for any post types, or just they are so much great of all to a program.
            </p>
        </div>
        <div class="cs-flex-group">
            <div class="cs-button-group">
                <!--If you need to add another button, make sure to copy and paste from one of the buttons here and increment the data-filter value, so the next one would be data-filter="four", and so on-->
                <button class="cs-option" data-filter="one">
                    Spokane Financial Advisors Network
                </button>
                <button class="cs-option" data-filter="two">
                    Spokane Journal of Business
                </button>
                <button class="cs-option" data-filter="three">
                    MartketWatch
                </button>
                <button class="cs-option" data-filter="four">
                    GoBankingRates
                </button>
                <button class="cs-option" data-filter="five">
                    USA Today
                </button>
                <button class="cs-option" data-filter="six">
                    U.S. News & World Report
                </button>
                <button class="cs-option" data-filter="seven">
                    Nasdaq
                </button>
                <button class="cs-option" data-filter="eight">
                    NextAvene
                </button>
                <button class="cs-option" data-filter="nine">
                    Yahoo Finance
                </button>
                <button class="cs-option" data-filter="ten">
                    Fiduciary News
                </button>
            </div>
            <!--We need this wrapper so the absolutely positioned FAQ lists can be positioned to the top of it to so the animations don't amke it overlap the buttons group above it. We needed a wrapper div around it for the faq lists to be relatively positioned to in order to get the effect we wanted-->
            <div class="cs-wrapper">
                <!--If you add more FAQ's, copy and paste of of the .cs-faq-grop lists and increment the data-category to the next number. We have three right now, if you added a fourth you'd change it to data-category="four" to correspond to the new button you created in the .cs-button-group. The filter and category data attributes need to match so they can work together-->
                <ul class="cs-faq-group" data-category="one">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Noah is a member of the Spokane Financial Advisors Network.
                            </span>
                        </button>
                        <p class="cs-item-p">
                            <a href="https://www.spokanefinancialadvisorsnetwork.com/blog/tag/Noah+Schwab" target="_blank">https://www.spokanefinancialadvisorsnetwork.com/blog/tag/Noah+Schwab</a>
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Noah is a featured expert in the Spokane Financial Advisors Network
                            </span>
                        </button>
                        <p class="cs-item-p">
                            <a href="https://www.spokanefinancialadvisorsnetwork.com/blog/8-rent-or-buy" target="_blank">Spokane Housing Dilemma: Rent or Buy?</a>

                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group cs-hidden" data-category="two">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Noah is a featured expert in the Spokane Journal of Business
                            </span>
                        </button>
                        <p class="cs-item-p">
                            <a href="https://www.spokanejournal.com/articles/10-secure-act-2-0-focuses-on-us-small-business" target="_blank">The second credit offered is substantial for employers. Owners can receive a tax credit of up to $1,000 a year on their matching contributions.</a>
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Noah is a featured expert in the Spokane Journal of Business
                            </span>
                        </button>
                        <p class="cs-item-p">
                            <a href="https://www.spokanejournal.com/articles/15470-millennials-forced-to-play-with-unluckiest-hand" target="_blank">Generation hesitated to invest after 2008 financial crisis, faces rising costs to borrow. </a>
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Noah is a featured expert in the Spokane Journal of Business
                            </span>
                        </button>
                        <p class="cs-item-p">
                            <a href="https://www.spokanejournal.com/articles/15264-gig-economy-requires-flexibility-calls-for-balance" target="_blank">Over the past few years, the gig economy has experienced an immense expansion, altering the conventional workforce worldwide.</a>
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Noah is a featured expert in the Spokane Journal of Business
                            </span>
                        </button>
                        <p class="cs-item-p">
                            <a href="https://www.spokanejournal.com/articles/15424-guest-commentary-effects-of-fed-s-tightening-easing-were-foreseeable" target="_blank">A massive third response from the Federal Reserve was happening: the Federal Reserve’s bond buyback program, also known as quantitative easing.</a>
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Noah is a featured expert in the Spokane Journal of Business
                            </span>
                        </button>
                        <p class="cs-item-p">
                            <a href="https://www.spokanejournal.com/articles/15376-bucket-system-assigns-jobs-to-business-income" target="_blank">Determining how to allocate a business’s profits can be a challenging task. Each dollar should be assigned to the right area to ensure financial stability and growth</a>
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group cs-hidden" data-category="three">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Noah is quoted in MarketWatch
                            </span>
                        </button>
                        <p class="cs-item-p">
                            <a href="https://www.marketwatch.com/story/nothing-is-risk-free-how-to-recognize-scam-retirement-advice-11657824530" target="_blank">Nothing is risk-free: How to recognize scam retirement advice</a>
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Noah is quoted in MarketWatch
                            </span>
                        </button>
                        <p class="cs-item-p">
                            <a href="https://www.marketwatch.com/picks/amid-high-inflation-and-recession-fears-these-are-10-money-moves-you-should-make-in-2023-01671226365" target="_blank">Inflation stubbornly ticks higher to 3.2% as recession fears remain. Here are 10 money moves to consider </a>
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group" data-category="four">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Noah is quoted in GoBankingRates
                            </span>
                        </button>
                        <p class="cs-item-p">
                            <a href="https://www.gobankingrates.com/money/financial-planning/money-experts-debunk-myths-about-getting-rich-quick/" target="_blank">7 Biggest ‘Get Rich Quick’ Myths Debunked</a>
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Noah is quoted in GoBankingRates      
                            </span>
                        </button>
                        <p class="cs-item-p">
                            <a href="https://www.gobankingrates.com/money/financial-planning/things-you-cant-afford-on-average-salary/" target="_blank">These expenses may not be sustainable for someone with an average income.</a>                        
                        </p>
                    </li>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group" data-category="five">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Noah is quoted in USA Today
                            </span>
                        </button>
                        <p class="cs-item-p">
                           <a href="https://www.usatoday.com/money/blueprint/debt/how-to-negotiate-debt-settlement-diy/" target="_blank">How to negotiate a debt settlement on your own</a>
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group" data-category="six">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Noah is quoted in U.S. News & World Report
                            </span>
                        </button>
                        <p class="cs-item-p">
                            <a href="https://money.usnews.com/money/retirement/aging/articles/common-retirement-goals" target="_blank">6 Common Retirement Goals</a>
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Noah is quoted in U.S. News & World Report
                            </span>
                        </button>
                        <p class="cs-item-p">
                            <a href="https://money.usnews.com/money/personal-finance/family-finance/articles/what-the-debt-ceiling-crisis-means-for-your-money" target="_blank">What the Debt Ceiling Crisis Means for Your Money.</a>
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group" data-category="seven">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Noah is quoted in Nasdaq
                            </span>
                        </button>
                        <p class="cs-item-p">
                            <a href="https://www.nasdaq.com/articles/dave-ramsey:-4-reasons-getting-rich-quick-can-be-a-curse" target="_blank">Dave Ramsey Says Getting Rich Quick Can Be More of a Curse Than a Blessing</a>
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group" data-category="eight">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Noah is quoted in nextavenue
                            </span>
                        </button>
                        <p class="cs-item-p">
                           <a href="https://www.nextavenue.org/when-investing-for-retirement-beware-of-financial-double-talk/" target="_blank">When Investing for Retirement, Beware of Financial Double Talk</a>
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group" data-category="nine">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Noah is quoted in Yahoo Finance
                            </span>
                        </button>
                        <p class="cs-item-p">
                            <a href="https://www.yahoo.com/video/parents-create-joint-bank-account-190830691.html" target="_blank">Should Parents Create a Joint Bank Account With Their Teenage and Young Adult Children?</a>
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group" data-category="ten">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Noah is quoted in Fiduciary News
                            </span>
                        </button>
                        <p class="cs-item-p">
                            <a href="https://fiduciarynews.com/2022/05/what-presents-the-greatest-retirement-risk-inflation-or-sequence-of-returns/" target="_blank">Over the past few years, the gig economy has experienced an immense expansion, altering the conventional workforce worldwide</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
                                

                                
                                
{% endblock %}