/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-1519 {
    padding: var(--sectionPadding);
    /* 190px - 268px */
    padding-top: clamp(11.875rem, 25vw, 16.75rem);
    /* 100px - 150px */
    padding-bottom: clamp(6.25rem, 12vw, 9.375rem);
    /* clips the line from causing overflow issues for going off screen */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #banner-1519 .cs-container {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* 8px - 12px */
    gap: clamp(0.5rem, 1vw, 0.75rem);
  }
  #banner-1519 .cs-int-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--headercolor);
    position: relative;
  }
  #banner-1519 .cs-breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-1519 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    text-decoration: none;
    color: var(--bodyTextColor);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-1519 .cs-link:last-of-type {
    /* remove the chevron on the last list item */
  }
  #banner-1519 .cs-link:last-of-type::after {
    display: none;
  }
  #banner-1519 .cs-link:after {
    /* chevron */
    content: '';
    width: 0.4375rem;
    height: 0.75rem;
    margin: 0 1rem;
    background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/grey-chevron.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
  }
  #banner-1519 .cs-link.cs-active {
    color: var(--primary);
  }
  #banner-1519 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #banner-1519 .cs-background:before {
    /* gradient overlay */
    content: '';
    width: 100%;
    height: 100%;
    background: #FFF3EC;
    opacity: 0.8;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #banner-1519 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
  #banner-1519 .cs-mask {
    --maskBG: #ffffff;
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 100;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #banner-1519 .cs-background:before {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 243, 236, 0.9) 23.05%, rgba(255, 243, 236, 0) 80.08%);
    opacity: 1;
  }
}
/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq-489 {
    padding: var(--sectionPadding);
    background: #fafbfc;
    margin-top: 5rem;
  }
  #faq-489 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* 40px - 48px */
    gap: clamp(2.5rem, 5vw, 3rem);
  }
  #faq-489 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #faq-489 .cs-color {
    color: var(--primary);
  }
  #faq-489 .cs-title {
    /* 17 characters wide including spaces */
    max-width: 17ch;
  }
  #faq-489 .cs-text {
    /* 32px - 48px */
    margin-bottom: clamp(2rem, 3vw, 3rem);
  }
  #faq-489 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #faq-489 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #faq-489 .cs-button-solid:hover:before {
    width: 100%;
  }
  #faq-489 .cs-faq-group {
    max-width: 46.25rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;
  }
  #faq-489 .cs-faq-item {
    list-style: none;
    width: 100%;
    /* prevents border from affecting width and height */
    box-sizing: border-box;
    border: 1px solid #f1f1f4;
    transition: border 0.3s, padding 0.3s, border-color 0.3s;
  }
  #faq-489 .cs-faq-item:hover {
    border-color: var(--primary);
  }
  #faq-489 .cs-faq-item.active {
    padding-bottom: 1rem;
    border-color: var(--primary);
  }
  #faq-489 .cs-faq-item.active .cs-button {
    color: var(--primary);
  }
  #faq-489 .cs-faq-item.active .cs-button:before {
    transform: translateY(-50%) rotate(180deg);
    opacity: 0;
    background-color: var(--primary);
  }
  #faq-489 .cs-faq-item.active .cs-button:after {
    transform: translateY(-50%) rotate(360deg);
    background-color: var(--primary);
  }
  #faq-489 .cs-faq-item.active .cs-item-p {
    height: auto;
    margin-top: 0.5rem;
    opacity: 1;
  }
  #faq-489 .cs-button {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 1vw, 1.5625rem);
    line-height: 1.2em;
    text-align: left;
    font-weight: bold;
    padding: 1rem 1.5rem;
    border: none;
    background: transparent;
    color: var(--headerColor);
    display: block;
    width: 100%;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
  }
  #faq-489 .cs-button:hover {
    cursor: pointer;
  }
  #faq-489 .cs-button:before {
    /* horizontal line */
    content: "";
    width: 1rem;
    height: 0.1875rem;
    background-color: currentColor;
    opacity: 1;
    border-radius: 1px;
    position: absolute;
    display: block;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    transition: transform 0.5s, opacity 0.3s;
  }
  #faq-489 .cs-button:after {
    /* vertical line */
    content: "";
    width: 1rem;
    height: 0.1875rem;
    background-color: currentColor;
    opacity: 1;
    border-radius: 1px;
    position: absolute;
    display: block;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%) rotate(90deg);
    transform-origin: center;
    transition: transform 0.5s;
  }
  #faq-489 .cs-button-text {
    width: 80%;
    display: block;
  }
  #faq-489 .cs-item-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    width: 90%;
    height: 0;
    margin: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    opacity: 0;
    color: var(--bodyTextColor);
    /* clips the text so it doesn't show up */
    overflow: hidden;
    transition: opacity 0.3s, padding-bottom 0.3s;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 48rem) {
  #faq-489 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3.25rem;
  }
  #faq-489 .cs-content {
    margin-top: 3.125rem;
  }
  #faq-489 .cs-title,
  #faq-489 .cs-topper {
    text-align: left;
    margin-left: 0;
  }
  #faq-489 .cs-faq-group {
    width: clamp(56%, 58vw, 58%);
    flex: none;
  }
}
/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq-1237 {
    padding: var(--sectionPadding);
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #faq-1237 .cs-container {
    width: 100%;
    /* chnages to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 40px - 48px */
    gap: clamp(2.5rem, 5vw, 3rem);
  }
  #faq-1237 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #faq-1237 .cs-title {
    margin: 0;
  }
  #faq-1237 .cs-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* 16px - 20px */
    gap: clamp(1rem, 2.4vw, 1.25rem);
  }
  #faq-1237 .cs-faq-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2.4vw, 1.25rem);
  }
  #faq-1237 .cs-faq-item {
    list-style: none;
    width: 100%;
    background-color: #f7f7f7;
    padding: 0;
    box-sizing: border-box;
    transition: border-bottom 0.3s;
  }
  #faq-1237 .cs-faq-item.active {
    background-color: #1a1a1a;
  }
  #faq-1237 .cs-faq-item.active .cs-button {
    color: var(--primary);
  }
  #faq-1237 .cs-faq-item.active .cs-button:before {
    background-color: var(--primary);
    transform: rotate(315deg);
  }
  #faq-1237 .cs-faq-item.active .cs-button:after {
    background-color: var(--primary);
    transform: rotate(-315deg);
  }
  #faq-1237 .cs-faq-item.active .cs-number {
    background-color: #1a1a1a;
    color: var(--primary);
  }
  #faq-1237 .cs-faq-item.active .cs-number:before {
    height: 100%;
    opacity: 0.3;
  }
  #faq-1237 .cs-faq-item.active .cs-number:after {
    width: 100vw;
    opacity: 0.3;
  }
  #faq-1237 .cs-faq-item.active .cs-item-p {
    height: auto;
    /* 16px - 24px */
    padding-top: clamp(1rem, 2.5vw, 1.5rem);
    padding-bottom: clamp(1rem, 2.5vw, 1.5rem);
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #faq-1237 .cs-button {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    text-align: left;
    font-weight: bold;
    width: 100%;
    padding: 0 2.5rem 0 0;
    border: none;
    background: transparent;
    color: var(--headerColor);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    /* 16px - 24px */
    gap: clamp(1rem, 2.5vw, 1.5rem);
    position: relative;
    transition: background-color 0.3s, color 0.3s;
  }
  #faq-1237 .cs-button:hover {
    cursor: pointer;
  }
  #faq-1237 .cs-button:before {
    /* left line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 45%;
    right: 1.1875rem;
    transform: rotate(45deg);
    /* animate the transform from the left side of the x axis, and the center of the y */
    transform-origin: left center;
    transition: transform 0.5s;
  }
  #faq-1237 .cs-button:after {
    /* right line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 45%;
    right: 1rem;
    transform: rotate(-45deg);
    /* animate the transform from the right side of the x axis, and the center of the y */
    transform-origin: right center;
    transition: transform 0.5s;
  }
  #faq-1237 .cs-number {
    font-size: 1.25rem;
    line-height: 1.5em;
    /* 52px - 72px */
    width: clamp(3.25rem, 6vw, 4.5rem);
    color: var(--headerColor);
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
    transition: background-color 0.3s;
  }
  #faq-1237 .cs-number:before {
    /* yellow border right on active */
    content: "";
    width: 1px;
    height: 0;
    background: var(--primary);
    opacity: 0;
    position: absolute;
    display: block;
    top: -1px;
    right: 0;
    transition: opacity 0.3s, height 0.6s;
    transition-delay: 0.1s;
  }
  #faq-1237 .cs-number:after {
    /* yellow border bottom on active */
    content: "";
    width: 0;
    height: 1px;
    background: var(--primary);
    opacity: 0;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s, width 1s;
  }
  #faq-1237 .cs-button-text {
    width: 90%;
    /* 16px - 24px */
    padding: clamp(1rem, 2.5vw, 1.5rem) 0;
    display: block;
  }
  #faq-1237 .cs-item-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    width: 90%;
    max-width: 33.8125rem;
    height: 0;
    margin: 0;
    /* 16px - 24px */
    padding: 0 clamp(1rem, 2.5vw, 1.5rem);
    opacity: 0;
    color: var(--bodyTextColor);
    /* clips the text so it doesn't show up */
    overflow: hidden;
    transition: opacity 0.3s, padding-bottom 0.3s, padding-top 0.3s;
  }
  #faq-1237 .cs-floater {
    display: none;
  }
}
/* tablet - 768px */
@media only screen and (min-width: 48rem) {
  #faq-1237 .cs-container {
    max-width: 80rem;
  }
  #faq-1237 .cs-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
}
