/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-1519 {
        padding: var(--sectionPadding);
        /* 190px - 268px */
        padding-top: clamp(11.875rem, 25vw, 16.75rem);
        /* 100px - 150px */
        padding-bottom: clamp(6.25rem, 12vw, 9.375rem);
        /* clips the line from causing overflow issues for going off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;
        
        .cs-container {
            text-align: center;
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            /* 8px - 12px */
            gap: clamp(.5rem, 1vw, .75rem);
        }
    
        .cs-int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--headercolor);
            position: relative;
        }

        .cs-breadcrumbs {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-link {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-decoration: none;
            color: var(--bodyTextColor);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-of-type {
                /* remove the chevron on the last list item */
                &::after {
                    display: none;
                }
            }

            &:after {
                /* chevron */
                content: '';
                width: (7/16rem);
                height: (12/16rem);
                margin: 0 (16/16rem);
                background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/grey-chevron.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                display: block;
            }

            &.cs-active {
                color: var(--primary);
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* gradient overlay */
                content: '';
                width: 100%;
                height: 100%;
                background: #FFF3EC;
                opacity: .8;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }

        .cs-mask {
            --maskBG: #ffffff;

            width: 100%;
            height: auto;
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            z-index: 100;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #banner-1519 {
        .cs-background {
            &:before {
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, rgba(255, 243, 236, 0.90) 23.05%, rgba(255, 243, 236, 0.00) 80.08%);
                opacity: 1;
            }
        }
    }
}
                                
/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-323 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (580/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (52/16rem);
        }

        .cs-content {
            text-align: left;
        }

        .cs-text {
            /* 24px - 32px */
            margin-bottom: clamp(1.5rem, 5vw, 2rem);
        }

        .cs-form {
            /* 20px - 48px top and bottom */
            /* 20px - 32px left and right */
            padding: clamp(1.25rem, 4.18vw, 3rem) clamp(1.25rem, 4.18vw, 2rem);
            background-color: #f7f7f7;
            border-radius: (16/16rem);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            gap: (12/16rem);
        }

        .cs-label {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            width: 100%;
            color: var(--headerColor);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: (4/16rem);
        }

        .cs-input {
            font-size: (16/16rem);
            width: 100%;
            height: (56/16rem);
            padding: 0;
            padding-left: (24/16rem);
            border-radius: (8/16rem);
            color: var(--headerColor);
            background-color: #fff;
            border: none;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            &::placeholder {
                color: #7d799c;
                opacity: 0.6;
            }
        }

        .cs-textarea {
            min-height: (120/16rem);
            padding-top: (24/16rem);
            margin-bottom: (12/16rem);
            font-family: inherit;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-submit {
            text-transform: uppercase;
            width: (283/16rem);
            background-color: var(--secondaryLight);
            color: var(--headerColor);
            border: none;
            transition: color 0.3s;
            &:hover {
                cursor: pointer;
                color: #fff;
            }
        }

        .cs-map {
            width: 100%;
            max-width: (630/16rem);
            /* 328px - 425px */
            height: clamp(20.5rem, 63.4vw, 26.5625rem);
            border-radius: (24/16rem);
            /* clips the corners of the img tag */
            overflow: hidden;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-323 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: (52/16rem);
        }

        .cs-content {
            max-width: (567/16rem);
        }

        .cs-title,
        .cs-topper,
        .cs-text {
            text-align: left;
            margin-left: 0;
        }

        .cs-title {
            max-width: (522/16rem);
        }

        .cs-email,
        .cs-phone {
            width: 47%;
        }

        .cs-button-solid {
            margin-left: 0;
        }

        .cs-map {
            height: auto;
            aspect-ratio: 630/701;
        }
    }
}

/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-889 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            max-width: (1064/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 20px - 40px */
            gap: clamp(1.25rem, 3vw, 2.5rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            max-width: (326/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-picture {
            margin-bottom: (24/16rem);
            width: (72/16rem);
            height: (72/16rem);
            background-color: rgba(206, 65, 13, 0.05);
            border-radius: (16/16rem) 0 (16/16rem) 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-p {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-arrow {
            /* 48px - 80px */
            width: clamp(3rem, 6vw, 5rem);
            height: auto;
            display: block;
            flex: none;
            transform: rotate(120deg);
        }

        .cs-arrow-img {
            width: 100%;
            display: block;
        }

        .cs-icon {
            width: (32/16rem);
            height: auto;
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-889 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-arrow {
            align-self: center;
            transform: rotate(40deg);
        }
    }
}

                                
/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-strip-324 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;

        .cs-stat-group {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (600/16rem);
            margin: auto;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (40/16rem);
        }

        .cs-item {
            list-style: none;
            width: (290/16rem);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &:hover {
                .cs-picture {
                    background-color: #fff;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    transform: scale(1.05);
                }
            }
        }

        .cs-picture {
            width: (80/16rem);
            height: (80/16rem);
            /* 12px - 20px */
            margin-right: clamp(0.75rem, 3vw, 1.25rem);
            border-radius: 50%;
            border: 1px solid #bababa;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            transition:
                background-color 0.3s,
                box-shadow 0.3s,
                transform 0.6s;
        }

        .cs-flex-group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-icon {
            width: (28/16rem);
            height: auto;
        }

        .cs-header {
            font-size: (20/16rem);
            color: var(--headerColor);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0;
            margin-bottom: (12/16rem);
            display: block;
        }

        .cs-link,
        .cs-hours {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-decoration: none;
            color: #767676;
            display: block;
        }

        .cs-link {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #contact-strip-324 {
        .cs-stat-group {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: (20/16rem);
            row-gap: (32/16rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-strip-324 {
        .cs-stat-group {
            max-width: (1280/16rem);
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }
    }
}

/*-- -------------------------- -->
<---            Map             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #map-720 {
        min-height: (540/16rem);
        padding: var(--sectionPadding);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}
                                
                                