/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1431 {
        padding: var(--sectionPadding);
        overflow: hidden;
        margin-top: 10rem;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-card-group {
            width: 100%;
            max-width: (630/16rem);
            margin: 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: (24/16rem);
            margin-bottom: 2rem;
        }
        
        .cs-li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-li-picture {
            width: (80/16rem);
            height: (80/16rem);
            margin: 0;
            border-radius: 50%;
            background-color: #fff;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: .1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
            }
        }

        .cs-li-icon {
            width: (32/16rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
        }

        .cs-li-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-image-group {
            /* scale down the whole section */
            font-size: ~"min(1.6vw, .6em)";
            /* aligns the .cs-image-group to the right */
            text-align: right;
            /* using ems so we can scale this container with a font size */
            width: auto;
            min-width: (600/16em);
            max-width: (702/16rem);
            /* changes auto at desktop */
            height: (618/16em);
            /* sends it to the right in the 2nd position */
            order: 2;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;
        }

        .cs-puzzle {
            height: 100%;
            width: auto;
            /* allows text align to move it left or right */
            display: inline-flex;
            align-items: flex-end;
            justify-content: center;
            position: relative;
            

            img {
                width: auto;
                height: 100%;
                margin: 0;
                display: block;
                object-fit: contain;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1431 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: flex-end;
            position: relative;
        }

        .cs-content {
            width: 50%;
        }

        .cs-image-group {
            font-size: ~"min(1.3vw, 1em)";
            flex: none;
            /* sends it to the left in the 1st position */
            order: -1;
            /* pushes person image to the right of the container */
            justify-content: flex-end;
            position: absolute;
            /* changes to 0 at large desktop */
            left: (-100/16rem);
            bottom: (-101/16rem);
            padding-left: 15rem;
        }
    }
}

/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
    #sbs-1431 {
        .cs-image-group {
            font-size: ~"min(1.2vw, 1em)";
            height: auto;
            margin-right: (30/16rem);
            /* pushes person image to the right of the container */
            justify-content: flex-end;
            /* pushed person image to the bottom of the container */
            align-items: flex-end;
            position: absolute;
            right: 50%;
            top: 0;
            /* same amount as the padding bottom on the #sbs*/
            bottom: (-100/16rem);
        }

        .cs-content {
            /* pushes it to the right side of the container */
            margin-left: auto;
        }
    }
}
                                
/*-- -------------------------- -->
<---         Why Choose         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-1571 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (400/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 27ch;
            margin: 0;
        }

        .cs-topper {
            color: var(--secondary);
        }

        .cs-card-wrapper {
            width: 100%;
            display: grid;
            grid-auto-flow: row;
            /* 16px - 20px */
            column-gap: clamp(1rem, 2vw, 1.25rem);
            row-gap: (40/16rem);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            /* 24px - 60px */
            gap: clamp(1.5rem, 5vw, 3.75rem);
        }

        .cs-item {
            list-style: none;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: (20/16rem);
        }

        .cs-icon-wrapper {
            /* 60px - 80px */
            width: clamp(3.75rem, 5vw, 5rem);
            height: clamp(3.75rem, 5vw, 5rem);
            border: 1px solid var(--primary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            position: relative;
            overflow: hidden;
            aspect-ratio: 1/1;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background-color: var(--primary);
                opacity: 0.1;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-icon {
            /* 24px - 36px */
            width: clamp(1.5rem, 3vw, 2.25rem);
            height: auto;
        }

        .cs-h3 {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0 0 (8/16rem);
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: (14/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-image {
            /* all these change on tablet */
            width: 70vw;
            max-width: (300/16rem);
            height: 70vw;
            max-height: (300/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                max-height: (300/16rem);
                object-fit: contain;
                z-index: 1;
            }

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                background-color: var(--primary);
                opacity: 0.1;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
            }

            &::after {
                content: '';
                width: 75%;
                height: 75%;
                background-color: var(--primary);
                opacity: 0.3;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-1571 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-wrapper {
            align-items: center;
            grid-template-columns: repeat(3, 1fr);
        }

        .cs-item {
            text-align: left;
            align-items: start;
        }

        .cs-image {
            width: 30vw;
            max-width: (428/16rem);
            height: 30vw;
            max-height: (430/16rem);

            img {
                max-height: (430/16rem);
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #why-choose-1571 {
        .cs-item {
            flex-direction: row;
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-1309 {
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: clamp(3rem, 4vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #1a1a1a;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-ul {
            width: 100%;
            padding: 0;
            /* 32px - 48px */
            margin: clamp(2rem, 5vw, 3rem) 0 0 0;
            /* 32px - 48px */
            padding: clamp(2rem, 5vw, 3rem) 0 0 0;
            border-top: 1px solid #e8e8e8;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: (12/16rem);
        }

        .cs-item {
            list-style: none;
            width: 32%;
            /* making flex so we can align a heading with 1 line to the bottom */
            display: flex;
            flex-direction: column;
            align-self: stretch;
            align-content: space-between;
        }

        .cs-number {
            font-size: (25/16rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            color: var(--primary);
            display: block;
            margin: 0 0 (8/16rem) 0;
        }

        .cs-h3 {
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 400;
            text-align: left;
            /* auto margin top will push text to bottom if there's only one line */
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-image-group {
            width: 100%;
            max-width: (670/16rem);
            height: 100vw;
            max-height: (630/16rem);
            position: relative;
            display: block;
            z-index: 1;
        }

        .cs-picture {
            /* big background image */
            width: 93%;
            height: 93%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-box {
            text-align: left;
            width: 70%;
            max-width: (304/16rem);
            /* 20px - 40px */
            padding: clamp(1.25rem, 4vw, 2.5rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: #1a1a1a;
            display: inline-flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: (8/16rem);
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 10;
        }

        .cs-desc {
            /* 16px - 31px */
            font-size: clamp(1rem, 2.5vw, 1.9375rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            width: 100%;
            color: var(--bodyTextColorWhite);
            position: relative;
            z-index: 10;
        }

        .cs-graphic {
            width: 150%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-1309 {
        .cs-container {
            max-width: (1280/16rem);
            /* set to horizontal arrangement */
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            width: 48%;
            padding: (48/16rem) 0;
            align-self: center;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-image-group {
            width: 55%;
            max-width: (670/16rem);
            min-height: (670/16rem);
            max-height: 100%;
            height: auto;
            margin: 0;
            /* sends it to the right in the second position */
            order: 2;
        }

        .cs-picture {
            width: 93%;
            height: 94%;
            left: auto;
            right: 0;
        }

        .cs-box {
            bottom: (0/16rem);
            right: auto;
            left: 0;
        }

        .cs-graphic {
            max-width: (715/16rem);
            left: auto;
            right: (130/16rem);
            transform: translateY(-50%);
        }
    }
}

                                
                                