---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/hero.webp'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1619">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">
                <svg class="cs-chevron" width="49" height="15" viewBox="0 0 49 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.7">
                    <path d="M0.621948 7.49889L6.40262 15L10.343 15L4.56231 7.49889L10.343 -4.2492e-07L6.40262 -2.52681e-07L0.621948 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M7.62195 7.49889L13.4026 15L17.343 15L11.5623 7.49889L17.343 -4.2492e-07L13.4026 -2.52681e-07L7.62195 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M14.7789 7.49889L20.5596 15L24.5 15L18.7193 7.49889L24.5 -4.2492e-07L20.5596 -2.52681e-07L14.7789 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M22.7789 7.49889L28.5596 15L32.5 15L26.7193 7.49889L32.5 -4.2492e-07L28.5596 -2.52681e-07L22.7789 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M30.7789 7.49889L36.5596 15L40.5 15L34.7193 7.49889L40.5 -4.2492e-07L36.5596 -2.52681e-07L30.7789 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M38.7789 7.49889L44.5596 15L48.5 15L42.7193 7.49889L48.5 -4.2492e-07L44.5596 -2.52681e-07L38.7789 7.49889Z" fill="var(--chevronColor)"/>
                    </g>
                </svg>
                Spokane Financial Advisors
                <svg class="cs-chevron" width="49" height="15" viewBox="0 0 49 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.7">
                    <path d="M48.3781 7.49889L42.5974 15L38.657 15L44.4377 7.49889L38.657 -4.2492e-07L42.5974 -2.52681e-07L48.3781 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M41.3781 7.49889L35.5974 15L31.657 15L37.4377 7.49889L31.657 -4.2492e-07L35.5974 -2.52681e-07L41.3781 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M34.2211 7.49889L28.4404 15L24.5 15L30.2807 7.49889L24.5 -4.2492e-07L28.4404 -2.52681e-07L34.2211 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M26.2211 7.49889L20.4404 15L16.5 15L22.2807 7.49889L16.5 -4.2492e-07L20.4404 -2.52681e-07L26.2211 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M18.2211 7.49889L12.4404 15L8.50004 15L14.2807 7.49889L8.50004 -4.2492e-07L12.4404 -2.52681e-07L18.2211 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M10.2211 7.49889L4.4404 15L0.500041 15L6.28071 7.49889L0.500042 -4.2492e-07L4.4404 -2.52681e-07L10.2211 7.49889Z" fill="var(--chevronColor)"/>
                    </g>
                </svg>
            </span>
            <h1 class="cs-title">Helping couples with a 401k, five years from retirement</h1>
            <a href="/contact" class="cs-button-solid">Free Consultation</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/check-circle.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">In business since 1998</h3>
                <p class="cs-item-text">
                    We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/speedometer.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">Expert Legal Services</h3>
                <p class="cs-item-text">
                    We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Like.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">Always the Fiduciary Standard</h3>
                <p class="cs-item-text">
                    We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Like.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">Highly Reviewed</h3>
                <p class="cs-item-text">
                    We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
                </p>
            </li>
        </ul>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/a-m.png">
        <source media="(min-width: 601px)" srcset="/assets/images/a.png">
        <img decoding="async" src="/assets/images/a.png" alt="meeting" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                    Stats                     -->
<!-- ============================================ -->

<section id="stats-1643">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Trusted Spokane Financial Advisors Near You</span>
            <h2 class="cs-title">Meeting face-to-face in Spokane or virtually across the United States since 1998
            </h2>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people.jpg" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <!--Red Quote-->
            <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
            <p class="cs-text">
                Finding unbiased financial advice is difficult. That's why at Stewardship Concepts, we are fee-only. Our team of financial advisors in Spokane, WA, have the industry's gold standard <strong>FINANCIAL PLANNERS™</strong> designation and a <strong>fiduciary</strong> duty. You can have confidence in us because of our experience and peace of mind because we always do what's in your best interest.

            </p>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="wrapper">
                        <span class="cs-item-number">01</span>
                        <h3 class="cs-h3">
                            aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                        </h3>
                    </div>
                    <p class="cs-item-text">
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        <span class="cs-item-number">02</span>
                        <h3 class="cs-h3">
                            aaaaaaaaaaaaaaaaaaaaaa
                        </h3>
                    </div>
                    <p class="cs-item-text">
aaaaaaaaaaaaaaaaaaaaaaaaaaaaa                    </p>
                </li>
            </ul>
            <ul class="cs-stats">
                <li class="cs-stat stat1">
                    <span class="cs-number">100%</span>
                    <span class="cs-desc">Positive feedback</span>
                </li>
                <li class="cs-stat stat2">
                    <span class="cs-number">0</span>
                    <span class="cs-desc">Comissions</span>
                </li>
                <li class="cs-stat stat3">
                    <span class="cs-number">$80,000,000</span>
                    <span class="cs-desc">investments managed as of 1/1/2024</span>
                </li>
                <li class="cs-stat stat4">
                    <span class="cs-number">9.5K+</span>
                    <span class="cs-desc">Happy customers</span>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
                                
                                

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-341">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Expertise</span>
            <h2 class="cs-title">Our Bread and Butter</h2>
            <p class="cs-text">
                At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner.jpg" alt="cleaner" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Couples</h3>
                    <p class="cs-item-text">
                        Knowing when to start Social Security, tax, and retirement planning are essential.

                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner2.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner2.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner2.jpg" alt="cleaner" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">With a 401k</h3>
                    <p class="cs-item-text">
                        Save taxes by using Roth conversions, withdrawals, and estate planning strategies.

                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner3.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner3.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner3.jpg" alt="cleaner" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Five years from Retirement</h3>
                    <p class="cs-item-text">
                        We analyze if you have enough saved for retirement using leading financial planning software.

                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>
https://codestitch.app/app/dashboard/stitches/480/rendered
<!-- ============================================ -->
<!--                 Promotions                   -->
<!-- ============================================ -->

<section id="promotions-1567">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/room1.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/room1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/room1.jpg" alt="room" width="630" height="354">
                </picture>
                <div class="cs-content">
                    <span class="cs-tag">Investment Management</span>
                    <h2 class="cs-h2">On-going financial investment management to help you reach retirement goals. Diversification, quality, and objective based.</h2>
                    <a href="/investment_management" class="cs-button-solid">Learn more about Investment Management</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/room2.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/room2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/room2.jpg" alt="room" width="630" height="354">
                </picture>
                <div class="cs-content">
                    <span class="cs-tag">Financial Planning</span>
                    <h2 class="cs-h2">One-time cost of $1,750. Putting together all your life's financial pieces to prepare for retirement. Unbiased, Fiduary advice.</h2>
                    <a href="financial_planning" class="cs-button-solid">Learn more about financial planning</a>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
https://codestitch.app/app/dashboard/stitches/1348/rendered
<!-- ============================================ -->
<!--                 Meet The Team                -->
<!-- ============================================ -->

<section id="meet-team-221">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Meet The Financial Advisors</span>
            <h2 class="cs-title">The People Behind Stewardship Concepts</h2>
            <p class="cs-text">
                From creative minds to strategic thinkers, our team is united by a shared commitment to excellence and a relentless pursuit of success. Together, we collaborate, inspire, and deliver results that exceed expectations.            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/noah.png" alt="portrait" width="275" height="132">
                </picture>
                <span class="cs-name">Noah Schwab, CFP®</span>
                <span class="cs-job-title">Financial Advisor, Owner</span>

                <h4>Fun Facts About Noah:</h4>
                <p class="cs-item-text">One of his favorite trips was riding a motorbike the length of Vietnam</p>
                <p class="cs-item-text">Loves camping with his wife Jenny</p>
                <p class="cs-item-text">Attends True Hope Church</p>
            </br>
                <a href="" class="cs-button-solid">Read More</a>
            </li>

            <li class="cs-item">
                <picture class="cs-picture">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/amy.png" alt="portrait" width="275" height="132">
                </picture>
                <span class="cs-name">Amy Drury, CFP®</span>
                <span class="cs-job-title">Financial Advisor, Owner</span>
                <h4>Fun Facts About Amy:</h4>
                <p class="cs-item-text">Loves summertime at Spokane lakes with her daughters and husband</p>
                <p class="cs-item-text">Enjoys reading, cooking, and running</p>
                <p class="cs-item-text">Attends Northview Church</p>
            </br>
                <a href="" class="cs-button-solid">Read More</a>
            </li>

            <li class="cs-item">
                <picture class="cs-picture">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/edwin.png" alt="portrait" width="275" height="132">
                </picture>
                <span class="cs-name">Edwin Hill, CFP®</span>
                <span class="cs-job-title">Financial Advisor, Founder</span>
                <h4>Fun Facts About Edwin:</h4>
                <p class="cs-item-text">Finds refreshment in a good book, bike rides, and spending time with family</p>
                <p class="cs-item-text">Loves backpacking with his wife Kerry</p>
                <p class="cs-item-text">Attends True Hope Church</p>
            </br>
                <a href="" class="cs-button-solid">Read More</a>
            
            </li>
        </ul>
    </div>
</section>                

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-857">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">References</span>
            <h2 class="cs-title">Featured In</h2>
        </div>
        <div class="cs-logo-group">
            <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
            <img class="cs-logo" src="/assets/images/logo1.png" alt="logo" width="150" height="55" loading="lazy" decoding="async">
            <img class="cs-logo" src="/assets/images/logo2.png" alt="logo" width="150" height="53" loading="lazy" decoding="async">
            <img class="cs-logo" src="/assets/images/logo3.png" alt="logo" width="150" height="61" loading="lazy" decoding="async">
            <img class="cs-logo" src="/assets/images/logo4.png" alt="logo" width="150" height="65" loading="lazy" decoding="async">
            <img class="cs-logo" src="/assets/images/logo5.png" alt="logo" width="150" height="55" loading="lazy" decoding="async">
            <img class="cs-logo" src="/assets/images/logo6.png" alt="logo" width="150" height="53" loading="lazy" decoding="async">
            <img class="cs-logo" src="/assets/images/logo7.png" alt="logo" width="150" height="61" loading="lazy" decoding="async">
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1631">
    <div class="cs-container">
        <div class="cs-flex">
            <picture class="cs-picture">
                <a href="https://www.youtube.com/watch?v=51k-Y7-kdaM&embeds_referring_euri=https%3A%2F%2Fscfinancials.com%2F&source_ve_path=Mjg2NjY&feature=emb_logo">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/why_us-m.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/why_us.png">
                <img loading="lazy" decoding="async" src="/assets/images/why_us.png" alt="therapy" width="608" height="400">
            </a>
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Why Choose Us</span>
                <h2 class="cs-title">Experience the Immersive Impact of Stitch Consulting Services on Your Business</h2>
                <p class="cs-text">
                    Stewardship Concepts stands out as a premier choice for businesses seeking unparalleled financial planning expertise. Here's why:

                </p>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chat-gold.svg" alt="icon" width="24" height="24">
                    </picture>
                    Values
                </h3>
                <p class="cs-item-text">
                    We serve everyone with a Christian worldview. This means we offer unbiased financial planning without any commission or products. We remind fellow believers to be good stewards of what they've been given and put their trust in God, not their finances.

                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/call-gold.svg" alt="icon" width="24" height="24">
                    </picture>
                    Experience
                </h3>
                <p class="cs-item-text">
                    We've been serving clients since 1998, providing the best level of service. As of 1/1/2024, we manage over $80,000,000 of assets. At Stewardship Concepts, our financial advisor exceeds the requirements as a financial advisor and achieves the industry's gold standard designation of CFP®.

                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/money-gold.svg" alt="icon" width="24" height="24">
                    </picture>
                    Industry Leading Technology
                </h3>
                <p class="cs-item-text">
                    Our cutting-edge financial planning software empowers us to collaborate seamlessly on a broad spectrum of financial planning topics, securely share your private documents, and unify all your personal financial accounts onto a single, secure platform.

                </p>
            </li>
        </ul>
    </div>
</section>


    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">

                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/handshake-m.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/handshake.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/handshake.png" alt="house" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/presentation-m.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/presentation.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/presentation.png" alt="cabinets" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">SEO Ranking</span>
                <h2 class="cs-title">Talk about a main service keyword</h2>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p>
                <p class="cs-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non tenetur, iure nihil ipsam qui atque commodi id voluptatem nesciunt, quis animi fuga cum doloribus! Eaque laboriosam, unde consectetur iure asperiores ullam. Consequuntur debitis a voluptatibus vitae optio autem explicabo quia neque est quas, in placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus modi laudantium voluptatibus rem libero error minus quia eligendi sapiente eos.
                </p>
                <a href="/blog" class="cs-button-solid">Read our Blog</a>
            </div>
        </div>
    </section>

{% endblock %}